ORACLE_TUNNEL_HOST=84.8.251.115
ORACLE_TUNNEL_USER=ubuntu
ORACLE_TUNNEL_KEY_PATH=/home/<user>/.ssh/id_ed25519_1133
ORACLE_TUNNEL_REMOTE_BIND_ADDRESS=127.0.0.1
ORACLE_TUNNEL_REMOTE_PORT=3302
ORACLE_TUNNEL_LOCAL_HOST=127.0.0.1
ORACLE_TUNNEL_LOCAL_PORT=3102
ORACLE_TUNNEL_SERVER_ALIVE_INTERVAL=30
ORACLE_TUNNEL_SERVER_ALIVE_COUNT_MAX=3
ORACLE_TUNNEL_STRICT_HOST_KEY_CHECKING=accept-new
